body{
    background: linear-gradient(70deg, blue, purple, pink);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#Intro {
    color: azure;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

/* Contenedor Principal */
.Contenedor {
    display: none;
}
/*-------------*/

/* Botones */
.contenedor-boton {
    text-align: center;
}

.Button {
    font-family: monospace;
    font-size: x-large;
    transition-duration: 0.2s;
    padding: 10px;
    border-radius: 8px;
    background-color: greenyellow; 
    color: black; 
    border: 2px solid green;
    cursor: pointer;
    margin-top: 10px;
}
  
.Button:hover {
    transform: scale(1.1);
    border-radius: 14px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    color: black;
    background-color: white;
}

#BotonSi {
    background-color: pink; 
    color: black; 
    border: 2px solid purple;
    margin-left: 20px;
}

#BotonSi:hover{
    transform: scale(1.1);
    border-radius: 14px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    color: black;
    background-color: white;
}

#BotonNo {
    background-color: plum; 
    color: black; 
    border: 2px solid purple;
    margin-top: 10px;
    margin-left: 20px;
}

#BotonNovia {
    background-color: pink; 
    color: black; 
    border: 2px solid purple;
}

#BotonNovia:hover {
    transform: scale(1.1);
    border-radius: 14px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    color: black;
    background-color: white;
}
/*--------------------------------------------------*/

/* Contenedor de los GIFS */
.Contenedor-imagen {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#gif {
    max-width: 30%;
    max-height: 10%;
}

#gif img {
    border-radius: 8px;
    width: 100%;
    height: 100%;
}

/*-------------------------*/

/* Aceptacion */
.Contenedor-Imagen-Bicho {
    margin-top: -2%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.Con {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#DiQueSi {
    -webkit-text-stroke: 2px red;
    font-size: 30px;
    margin-left: 20px;
}
/*--------------------------*/

/* Cuadro Emergente de Texto */
#Texto {
    -webkit-text-stroke: 2px rgb(192, 138, 192);
    font-size: 18px;
}

.cuadro-emergente {
    display: none;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    padding: 30px;
    background-color: #f9f9f9;
    border: 2px solid greenyellow;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    animation: aparecer 0.5s ease-out;
}

@keyframes aparecer {
    0% {
      opacity: 0;
      transform: translateX(-50%) translateY(-20px);
    }
    50% {
      opacity: 0.5;
      transform: translateX(-50%) translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
      }
}
/*----------------------------------------------*/